<div class="row">
  <div class="col-sm-11">
    <select
      id="categorySelect"
      [ngModel]="selectedCategory"
      (ngModelChange)="onCategoryChanged($event)"
    >
      <option [ngValue]="null">Select category</option>
      <option [ngValue]="category" *ngFor="let category of categories$ | async">
        {{ category.name }}
      </option>
    </select>
    <select
      *ngIf="
        selectedCategory &&
        subcategoriesPrefixes.includes(selectedCategory.name)
      "
      [(ngModel)]="selectedSubCategoryId"
      id="subcategorySelect"
    >
      <option>Select subcategory</option>
      <option
        [value]="subcategory.id"
        *ngFor="let subcategory of filteredSubcategories"
      >
        {{ subcategory.name }}
      </option>
    </select>
    <select #difficulty id="difficultySelect">
      <option value="">Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button
      class="primary"
      id="createBtn"
      (click)="createQuiz(difficulty.value)"
    >
      Create
    </button>
  </div>
</div>
<h1 *ngIf="loading">Loading... ({{loadingCount}})</h1>
<div class="row">
  <app-quiz [questions]="questions$ | async"></app-quiz>
</div>
