<div class="row">
  <div class="col-sm-11">
    <ng-container *ngIf="categories$ | async as categories">
      <app-auto-filter
        label="Select Category"
        displayedField="name"
        [items]="categories"
        (onChange)="onCategoryChanged($event)"
      ></app-auto-filter>
      <app-auto-filter
        *ngIf="
          selectedCategory &&
          subcategoriesPrefixes.includes(selectedCategory.name)
        "
        label="Select Subcategory"
        displayedField="name"
        [items]="filteredSubcategories"
        (onChange)="onSubcategoryChanged($event)"
      >
      </app-auto-filter>
      <app-auto-filter
        label="Select Difficulty"
        [items]="['Easy', 'Medium', 'Hard']"
        (onChange)="onDifficultyChanged($event)"
      >
      </app-auto-filter>
    </ng-container>
    <button class="primary" id="createBtn" (click)="createQuiz()">
      Create
    </button>
  </div>
</div>
<h1 *ngIf="loading">Loading... ({{ loadingCount }})</h1>
<div class="row">
  <app-quiz [questions]="questions$ | async"></app-quiz>
</div>
