.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 16px;
}

.options {
  position: absolute;
  display: none;
  width: calc(100% - 8px);
  margin: 4px;
  box-sizing: border-box;
  background: var(--input-back-color);
  color: var(--input-fore-color);
  border: 0.0625rem solid var(--input-border-color);
  border-radius: var(--universal-border-radius);
}

.option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 4px 8px;
  border-bottom: 1px solid var(--input-border-color);

  &:hover {
    cursor: pointer;
    background-color: #1976d2;
    color: #fff;
  }
}
