<div class="autocomplete">
  <input
    #inputField
    id="inputField"
    name="userInput"
    [placeholder]="label"
    [ngModel]="userInput"
    (ngModelChange)="onUserInputChanged($event)"
    (blur)="onInputBlur()"
    (focus)="onInputFocus()"
  />
  <div #options class="options">
    <div
      [id]="
        'option-' + (displayedField && item[displayedField].toLowerCase()) ||
        item.toLowerCase()
      "
      (click)="onItemSelected(item)"
      class="option"
      *ngFor="let item of filteredItems; let i = index"
    >
      <span
        [innerHTML]="
          innerOptions.get((displayedField && item[displayedField]) || item)
        "
      ></span>
    </div>
  </div>
</div>
